body {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
}

header {
     padding: 30px 0;
     position: fixed;
     margin-top: -120px;
}

header .row {
     display: block;
}

header .col-sm-2 {
     padding: -20px;
     margin-right: -30px;
     margin-left: 50px;
}

header .col-sm-1 {
     padding: -10px;
     margin-top: 25px;
}

header .p {
     font-weight: 700;
     margin: 1;
     color: blue;
}


header .links {
     text-align: left;
     display: inline-block;
     padding: 30px 0;
     width: 32%;
     text-decoration: none;

}

section .row {
     padding: 30px 0;
     width: 100%;
     font-weight: 100;
}

.dropbtn {
    padding: 1px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: black;

}

a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.container p {
    font-weight: 500;
    margin: 1;
    color: black;

}

.container .col-sm-12 {
    padding: -20px;
    margin-right: -30px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: -40px;
}

.container .col-sm-6 {
    margin-left: 30px;
    margin-top: -20px;
    font-style: italic;

}
.show {display:block;}


